.App {
  text-align: center;
}

.averageAge {
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
}

.averageAge__title {
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3em 0 3em;
}

.averageAge__columnContainer {
  width: 100%;
  display: flex;
}

.averageAge__column {
  width: 50%;
  display: flex;
  justify-content: center;
}

.averageAge__listContainer {
  border: 1px solid black;
  padding: 1em;
  max-height: 500px;
  overflow-y: scroll;
}

.averageAge__listItem {
  text-align: left;
  padding-bottom: 0.6em;
}

.averageAge__listItemLabel {
  font-size: 14px;
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result__birthdayCake {
  width: 150px;
  margin: 0 auto;
}

.result__number {
  font-size: 1.5em;
  font-weight: bold;
}